@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#585757;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#fff;
}
.main {
	padding:0;
	margin:0;
}
html {
	padding:0;
	margin:0;
}
.main {
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:26px;
	font-weight:bold;
	line-height:1.2em;
	color:#585757;
	text-transform:none;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#df4b49;
	text-decoration:underline;
}
.sidebar2 {
	padding:0;
	position:relative;
	float:right;
	width:260px;
}
.content .sidebar2 {
	margin:0;
	padding:0;
}


.content .sidebar {
	margin:0;
	padding:0;
}
.content .mainbar {
	margin:0;
	padding:0;
}
ul {
	margin:0;
	padding:0;
}
ol li {
	margin:0;
	padding:0;
}
ol {
	margin:0;
	padding:0;
}
form {
	margin:0;
	padding:0;
}
.footer {
	margin:0;
	padding:0;
}
.fbg {
	margin:0;
	padding:0;
}
.menu_nav {
	margin:0;
	padding:0;
}
.content {
	margin:0;
	padding:0;
}
.header {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0 0 24px;
	width:960px;
	height:399px;
}
.logo {
	position:relative;
	padding:0;
	float:none;
	float:left;
	width:auto;
	height:146px;
}
h1 {
	margin:0;
	padding:40px 0 0 20px;
	font-size:45px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
	letter-spacing:2px;
}
h1 a:hover {
	color:#df4b49;
	text-decoration:none;
}
h1 a {
	color:#df4b49;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	font-size:12px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#777;
}
.slider {
	margin:0;
	padding:0 0 24px;
	position:absolute;
	width:100%;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0;
	padding:38px 0 0;
	height:55px;
	float:right;
}
.menu_nav ul {
	position:relative;
	list-style:none;
	padding:0;
	height:55px;
	float:left;
	background:#fff;
	z-index:1001;
}
.menu_nav ul li {
	margin:0;
	padding:0 0 0 8px;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:20px 16px 0;
	height:35px;
	font-size:15px;
	line-height:20px;
	font-weight:normal;
	color:white;
	text-decoration:none;
	text-transform:none;
	text-align:center;
}
.menu_nav ul li a:hover {
	text-decoration:none;
	color:orange;
	font-weight:bold;
}
.menu_nav ul li.active a {
	text-decoration:none;
	color:orange;
	font-weight:bold;
}
.content {
	padding:4px 0 0;
	background:repeat-x left bottom;
}
.content_resize {
	margin:0 auto;
	padding:0 0 40px;
	width:960px;
	background:repeat-y left top;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	left:100px;
	width:660px;
}
.content .mainbar h2 {
	margin-bottom:4px;
}
.content .mainbar div.img {
	padding:12px 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	border:1px solid #dcdee2;
}
.Intestazione{
background-image:url('images/img1.png');
		
}
.Intestazioneunder{
background-image:url('images/img2.png');

		
}

.content .mainbar .article {
	margin:0 0 16px;
	padding:8px 20px 30px;
	background:#ededed url(../images/article_bg.jpg) no-repeat center bottom;
}
.content .mainbar .post_content {
	float:right;
	width:440px;
}
.content .mainbar .post_content strong {
	color:#585757;
}

.content .sidebar {
	padding:0;
	position:relative;
	float:left;
	right:25px;
	width:260px;
}
.content .sidebar2 .gadget {
	margin:0 0 16px;
	padding:24px 20px 30px;
	background:#ededed url(../images/gadget_bg.jpg) no-repeat center bottom;
}

.content .sidebar .gadget {
	margin:0 0 16px;
	padding:24px 20px 30px;
	background:#ededed url(../images/gadget_bg.jpg) no-repeat center bottom;
}
.content .sidebar2 h2 {
	margin:0 -20px 0 0;
	padding:6px 12px 4px;
	color:#fff;
	background:#df4b49;
}

.content .sidebar h2 {
	margin:0 -20px 0 0;
	padding:6px 12px 4px;
	color:#fff;
	background:#df4b49;
}
ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	margin:0;
}
ul.ex_menu li {
	padding:8px 0;
	width:220px;
}
ul.sb_menu li {
	padding:8px 0;
	width:220px;
}
ul.sb_menu li a {
	color:#585757;
	text-decoration:none;
	margin-left:0;
	padding:4px 8px 4px 0;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#585757;
	text-decoration:none;
}
ul.ex_menu li a:hover {
	color:#df4b49;
	font-weight:bold;
	text-decoration:none;
}
ul.sb_menu li a:hover {
	color:#df4b49;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin:0 -20px 0 0;
	padding:6px 12px;
	text-transform:none;
	color:#fff;
	background:#df4b49;
}
p.infopost a {
	padding:0 2px;
	text-decoration:none;
	font-weight:normal;
	color:#fff;
}
p.infopost a:hover {
	text-decoration:underline;
}
p.infopost span.date {
}
.article a.com {
	display:block;
	float:right;
	margin:-6px 0;
	padding:4px 10px 2px;
	font-size:24px;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	color:#df4b49;
	background:#ededed;
}
.article a.com:hover {
	text-decoration:none;
}
.article a.com span {
}
.post_content a.rm {
	display:block;
	float:left;
	margin:0 0 16px;
	padding:8px 16px;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	text-transform:none;
	color:#fff;
	text-decoration:none;
	text-align:center;
	background:#df4b49;
}
.content p.pages {
	margin:0;
	padding:24px 20px 0;
	height:60px;
	font-size:11px;
	line-height:16px;
	text-align:left;
	background:#ededed url(../images/article_bg.jpg) no-repeat center bottom;
}
.content p.pages a {
	display:block;
	float:left;
	margin:0 2px 0 0;
	padding:7px 0;
	width:30px;
	text-decoration:none;
	text-align:center;
	background:no-repeat center center;
}
.content p.pages span {
	display:block;
	float:left;
	margin:0 2px 0 0;
	padding:7px 0;
	width:30px;
	text-decoration:none;
	text-align:center;
	background:no-repeat center center;
}
.content p.pages a:hover {
	color:#fff;
	background:#e15452;
}
.content p.pages span {
	color:#fff;
	background:#e15452;
}
.content p.pages a {
	color:#7e7e7e;
	border:none;
}
.content p.pages small {
	padding:8px 0 0;
	font-size:12px;
	float:right;
	line-height:24px;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	background:#ededed url(../images/fbg_bg.jpg) no-repeat center bottom;
}
.fbg h2 {
	margin-bottom:24px;
	padding-bottom:8px;
	color:#827f7f;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:4px solid #fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#585757;
	text-decoration:none;
	background:url(../images/li_p.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#df4b49;
	text-decoration:none;
	font-weight:normal;
	background-image:url(../images/li_a.gif);
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#df4b49;
	text-decoration:underline;
	font-weight:normal;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	margin:0 0 12px;
	padding:20px 20px 30px;
	float:left;
	background:#ededed url(../images/gadget_bg.jpg) no-repeat center bottom;
}
#formsearch {
	margin:0;
	padding:0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 10px;
	float:left;
	width:168px;
	font-size:12px;
	line-height:16px;
	color:#a9a9a9;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:920px;
	line-height:1.5em;
	color:#585757;
}
.footer_resize p {
	margin:22px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#df4b49;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#df4b49;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}
